{% extends 'all_photos/base.html' %}

{% block content %} 

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive" src="{{ post.post_image.url }}" alt="image">
            </div>

            <div class="col-md-4">
                <h3>{{ post.image_name }}</h3>
                <p>{{ post.image_description }}</p>
                <p>author: {{ post.user.first_name }}</p>
                <p>posted: {{ post.pub_date|timesince}}</p>
            </div>
        </div>
    </div>

{% endblock %}