{% extends 'all_photos/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% if posts %}
            <h3>Found {{ posts|length }} of searched term {{ message }}</h3>
        {% else %}
            <h3>Found 0 posts for the search term {{ message }}</h3>
        {% endif %}
    </div>

    <div class="row">
        {% if posts %}
            {% for post in posts %}         

            <div class="col-md-4 my-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="{{ post.post_image.url }}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{ post.image_description|striptags|truncatechars:140}} -- {{ post.location }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </div>
                      <small class="text-muted">{{ post.pub_date }}</small>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}