{% extends 'all_photos/base.html' %}

{% block content %}
    {{ block.super }}

  <div class="container">
    <div class="row">

    {% for post in posts %}  

     

          <div class="col-md-4 my-4">
            <a href="{% url 'post' post.id %}">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ post.post_image.url }}" alt="Card image cap">
                <div class="card-body">
                  <h3>{{ post.image_name }}</h3>
                  <p class="card-text">{{ post.image_description|striptags|truncatechars:90 }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">                      
                    </div>
                    <small class="text-muted">{{ post.user.first_name  }}</small>
                  </div>
                </div>
              </div>
            </a>
          </div>

    {% empty %}
        <h2 class="text-center">There are no posts</h2>
    {% endfor %}
    </div>
  </div>
{% endblock %}