{% extends 'all_photos/base.html' %}

{% block content %}
    {{ block.super }}
    <div class="container">
        <div class="row">
            <div class="col-md-8 image-container">
                <div class="top">
                    <div class="smaller">

                    </div>
                </div>
                <div class="bottom">
                    <div class="bigger">

                    </div>
                </div>
            </div>
            <div class="col-md-4 right d-flex align-items-center" >
               <div class="wrapper my-auto d-flex align-items-center">
                   <h2><span>checki</span>, <br> your photos</h2>
                    <h4>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Et at 
                        voluptatem quae? Nihil dolor qui 
                        aliquid, accusantium numquam totam 
                        distinctio.</h4>
                    <a class='btn btn-primary 'href="{% url 'home' %}">view gallery</a>
               </div>
            </div>
        </div>       
    </div>

{% endblock %}